<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user.name }}'s Watchlist</title>
    <link rel="icon" href="{{ url_for('static', filename='master.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <h2>
        <img alt="muyu" class="muyu" src="{{ url_for('static', filename='images/muyu.png')}}">
        {{ user.name }}'s CyberMaster
    </h2>
        <ul class="movie-list">
            <li>
                Page Not Found - 404
                <span clss="float-right">
                    <a href="{{ url_for('index') }}">Go Back</a>
                </span>
            </li>  {# 等同于 movie['title'] #}
            {% endfor %}  {# 使用 endfor 标签结束 for 语句 #}
        </ul>
        <img alt="xianglu" class="xianglu" src="{{ url_for('static', filename='images/xianglu.png')}}">
        <footer>
            <small>&copy; 2018 <a href="http://helloflask.com/book/3">HelloFlask</a></small>
        </footer>
</body>
</html>