{% extends 'base.html' %}

{% block content %}
<p>{{ movies|length }} Titles</p>
<ul class="movie-list">
    {% for movie in movies %}  {# 迭代 movies 变量 #}
    <li>{{ movie.title }} - {{ movie.year }}
        <span class="float-right">
            {# 为每一个电影条目右侧添加了一个 IMDb 链接 #}
            <a class="imdb" href="https://movie.douban.com/subject_search?search_text={{ movie.title }}" target="_blank" title="Find this movie on IMDb">IMDb</a>
        </span>
    </li>
    {% endfor %}  {# 使用 endfor 标签结束 for 语句 #}
</ul>
<img alt="xianglu" class="xianglu" src="{{ url_for('static', filename='images/xianglu.png')}}">
{% endblock %}
